__pycache__/
*.ini

.DS_Store

keyframe_records/*
!keyframe_records/.gitkeep
!keyframe_records/train_1kf.json
!keyframe_records/train_orientations_1kf.json
!keyframe_records/car-turn_1kf.json

data/*
!data/.gitkeep

exports/old

exports/trajectory/*
!exports/trajectory/train_1kf.npz
!exports/trajectory/train_orientations_1kf.npz
!exports/trajectory/.gitkeep